<mat-card>
  <div class="close-button-container">
    <button mat-fab color="accent" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
  </div>
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="mode === 'edit'">
        Edit: {{album.album_title}}
      </h1>
      <h1 *ngIf="mode === 'create'">
        Create new album
      </h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="albumForm">
    <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Album Title</mat-label>
        <input matInput formControlName="album_title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Artist Name</mat-label>
        <input matInput formControlName="artist_name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Release Date</mat-label>
        <input matInput type="date" formControlName="release_date">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <input matInput formControlName="genre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Record Label</mat-label>
        <input matInput formControlName="record_label">
      </mat-form-field>
      <mat-card-actions class="fab-buttons">
        <button mat-fab color="warn" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
        <button mat-fab color="primary" type="submit"><mat-icon>check</mat-icon></button>
      </mat-card-actions>
    </form>
    </mat-card-content>
</mat-card>
